.company-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.apple-logo {
    width: 175px;
    margin-left: center;
    margin-right: center;
    margin-top: 35px;
    margin-bottom: -10px;
}

.microsoft-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: -10px;
    margin-bottom: -70px;
}

.uber-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: 5px;
    margin-bottom: -75px;
}

.nvidia-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: 35px;
    margin-bottom: -50px;
}

.meta-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: -10px;
    margin-bottom: -85px;
}

.tesla-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: 35px;
    margin-bottom: -10px;
}

.paypal-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: -5px;
    margin-bottom: -80px;
}

.google-logo {
    width: 150px;
    margin-left: center;
    margin-right: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

.netflix-logo {
    width: 180px;
    margin-left: center;
    margin-right: center;
    margin-top: 30px;
    margin-bottom: -10px;
}

.spotify-logo {
    width: 175px;
    margin-left: center;
    margin-right: center;
    margin-top: 35px;
    margin-bottom: 0px;
}

.oracle-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: -20px;
    margin-bottom: -75px;
}
.palo-alto-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;;
    margin-top: -10px;
    margin-bottom: -60px;
}

.micron-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: -15px;
    margin-bottom: -50px;
}

.intel-logo {
    width: 175px;
    margin-left: center;
    margin-right: center;
    margin-top: 10px;
    margin-bottom: -50px;
}

.qualcomm-logo {
    width: 275px;
    margin-left: center;
    margin-right: center;
    margin-top: -60px;
    margin-bottom: -80px;
}

.cisco-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: 0px;
    margin-bottom: -30px;
}

.github-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: 35px;
    margin-bottom: 0px;
}

.amazon-logo {
    width: 200px;
    margin-left: center;
    margin-right: center;
    margin-top: 0px;
    margin-bottom: -50px;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 20px;
    margin-top: 30px;
}

.category-button {
    padding: 5px 10px; 
    border: none;
    width:200px;
    border-radius: 100px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em; 
    color: black;
}

.category-button.active {
    background-color: #343a40;
    color: white;
}

.category-button:hover {
    background-color: #343a40;
    color: white;
}

.questions-container {
    margin-top: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.questions-list {
    list-style-type: none;
    padding: 0;
}

.question-item {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

.question-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    font-weight: bold;
}

.unbold {
    font-weight: normal;
}

.question-text {
    flex: 1;
}

.dropdown-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 15px;
}

.dropdown-button:focus,
.dropdown-button:active,
.dropdown-button:hover {
    outline: none !important;
    box-shadow: none !important; 
    border: none;
    background: none;
}

.dropdown-button img {
    vertical-align: middle;

}

.dropdown-content {
    display: block;
    padding: 10px;
    margin-top: 10px; 
    background: none; 
    border: 0px solid #ddd; 
    border-radius: 0px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-left: -10px;
}

