.company-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.apple-logo {
    width: 175px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 35px;
    margin-bottom: -10px;
}

.microsoft-logo {
    width: 200px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: -10px;
    margin-bottom: -70px;
}

.uber-logo {
    width: 200px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: -75px;
}

.nvidia-logo {
    width: 200px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: -50px;
}

.meta-logo {
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: -85px;
}

.tesla-logo {
    width: 200px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: -10px;
}

.paypal-logo {
    width: 200px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: -5px;
    margin-bottom: -80px;
}

.google-logo {
    width: 150px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.netflix-logo {
    width: 180px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: -10px;
}

.spotify-logo {
    width: 175px;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.github-logo {
    width: 175px;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.amazon-logo {
    width: 200px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: -50px;
}

.category-container {
    margin-bottom: 20px;
}

.category-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button.active {
    background-color: #343a40;
    color: white;
}

.category-button:hover {
    background-color: #343a40;
    color: white;
}

.questions-container {
    margin-top: 20px;
}

.questions-list {
    list-style-type: none;
    padding: 0;
}

.question-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
}

.question-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-number {
    font-weight: bold;
    margin-right: 10px;
}

.question-text {
    flex: 1;
}