.table-container {
    margin-top: 40px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; 
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed; 
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0; 
    word-wrap: break-word; 
}

th {
    background-color: #6c7ae0; 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #f9f9f9; 
    color: #333;
}

tr:nth-child(even) td {
    background-color: #f1f1f1; 
}

tr:hover td {
    background-color: #e1e8ff;
}

a {
    color: #6c7ae0; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button.delete {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete:hover {
    background-color: #e60000;
}

input, textarea {
    padding: 8px;
    margin: 5px;
    width: calc(100% - 20px);
}

form button {
    margin-top: 10px;
}

th .dropdown-icon {
    cursor: pointer;
}

.dashboard-header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}
  
.dashboard-header h1 {
    margin: 0;
    font-size: 24px;
}
  
.sumbit {
    background-color: aqua;
}
  
.form-row {
    display: flex;
    gap: 10px; 
    padding-top: 20px;
}

.form-row input,
.form-row select {
    flex: 1; 
}

textarea {
    width: 100%; 
    height: 100px; 
}

form button.submit {
    margin-top: 10px;
    background-color: aqua;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

form button.submit:hover {
    background-color: #00bfff;
}

/* Adjustments for Notes and Actions columns */
td:nth-child(5) {
    width: 50%; /* Increase width of the Notes column */
}

td:nth-child(6) {
    width: 10%; /* Adjust width of Actions column */
    text-align: right; /* Align text to the right */
}

th:nth-child(6) {
    text-align: right; /* Align header text to the right */
}
